.userProfileContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 110px 0px 110px;
  gap: 78px;
}

.userProfileInfoAndPhotoContainer {
  display: flex;
  gap: 85px;
  width: 100%;
}

.userPhoto {
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  width: 100%;
}

.userProfileInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.btnContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.userName {
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}

.editProfilefollowBtn,
.logoutBtn {
  line-height: 18px;
  color: #000000;
  font-size: 14px;
  font-weight: 600px;
  background-color: #efefef;
  border-radius: 8px;
  max-width: 132px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.editProfileUnfollowBtn {
  line-height: 18px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600px;
  background-color: #0095f6;
  border-radius: 8px;
  max-width: 132px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.postsAndFollowersInfo {
  display: flex;
  gap: 60px;
  width: 100%;
}

.postsInfo,
.followerInfo,
.followingInfo {
  display: flex;
  gap: 5px;
  font-weight: 500;
  line-height: 18px;
  color: #000000;
  font-size: 16px;
  width: 100%;
}

.postsNumber,
.followerNumber,
.followingNumber {
  font-weight: 800;
  line-height: 18px;
  color: #000000;
  font-size: 16px;
}

.profileDescription {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.userProfilePostsContainer {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.postImage {
  width: 100%;
  height: 100%;
  max-width: 307px;
  max-height: 307px;
}

.website {
  color: #00376b;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.gradient {
  border: 3px solid #fff;
  box-shadow: 0 0 0 3px rgba(255, 105, 180, 0.9),
    0 0 6px 1.5px rgba(255, 140, 0, 0.7),
    0 0 10px -1.5px rgba(255, 105, 180, 0.6);
  transition: all 0.3s ease;
}
.gradient:hover {
  border-color: #f477e4;
  box-shadow: 0 0 8px #f4b1db;
}

.error {
  padding: 20px;
  font-size: 16px;
  line-height: 15px;
  font-weight: 700;
}
