* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  width: 100%;
}

.leftContainer {
  width: 100%;
  max-width: 244px;
}

.rightContainer {
  width: 100%;
}
