.icons {
  height: 24px;
  width: 24px;
  margin-right: 16px;
  border-radius: 50%;
}

.spanText {
  color: #000000;
}

.sideNavContainer {
  padding: 28px 0 0 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
  transition: transform 0.3s ease;
  max-width: 244px;
  border-right: 1px solid #dbdbdb;
}
.logoImg {
  height: 55px;
  width: 97px;
}

.link {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
}

.activeLink {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  color: #000000;
}

.link:last-child,
.activeLink:last-child {
  margin-top: 23px;
}
