.header {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
}

.searchInput {
  max-width: 365px;
  width: 100%;
  height: 40px;
  background-color: #efefef;
  padding: 10.5px 16px 10.5px 16px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.searchInputContainer {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.searchInput:focus {
  border: none;
}

.searchInput::placeholder {
  color: #737373;
  font-size: 16px;
}

.searchContainer {
  padding: 24px 16px 0 16px;
  border-top-right-radius: 10px;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  max-width: 397px;
  width: 100%;
  background-color: #ffffff;
}

.notFoundUsers {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.foundUsersContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.foundUser {
  display: flex;
  gap: 8px;
}

.avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.username {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.recent {
  font-weight: 700;
  line-height: 20px;
  font-size: 16px;
  color: #000000;
}

.clearIcon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.modalContainer {
  position: absolute;
  top: 0;
  /* left: 0px; */
  left: 246px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}
