.registerMainPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
  width: 100%;
}

.registerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #dbdbdb;
  height: 100%;
  width: 100%;
  max-width: 350px;
  max-height: 554px;
  padding: 19px 40px 30px 40px;
  border-radius: 1px;
}

.registerFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.registerFormContainer input {
  max-width: 268px;
  width: 100%;
  height: 36px;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding-left: 8px;
}

input::placeholder {
  color: #737373;
  font-size: 12px;
  line-height: 36px;
  font-weight: 400;
}

.logoImg {
  max-width: 190px;
  height: 106.87px;
  width: 100%;
}
.singUpBtn {
  background-color: #0095f6;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  max-width: 268px;
  height: 32px;
  width: 100%;
  padding: 8px 0px;
}

.accauntContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dbdbdb;
  width: 100%;
  max-width: 350px;
  height: 63px;
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.haveAccountText {
  font-size: 13px;
  font-weight: 600;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 18px;
  text-align: center;
}
.loginBtn {
  background-color: #ffffff;
  color: #0095f6;
  padding: 2px;
  width: 100%;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
}

.privacyNotice,
.agreementText {
  color: #737373;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}

.privacyNotice {
  padding-top: 25px;
  padding-bottom: 17px;
}

.agreementText {
  padding-bottom: 25px;
}

.privacyNotice a,
.agreementText a {
  color: #00376b;
}
.singUpText {
  color: #737373;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  padding-bottom: 33px;
  text-align: center;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
}
